<div class="panel-heading" data-id="{{securitySymbol}}">{{companyName}} - <strong>{{securitySymbol}}</strong></div>
<div class="panel-body">
<table class="table table-striped">
        <tr>
            <td class="success">Current Index: </td>
            <td class="success">{{price.amount}}</td>
        </tr>
        <tr>
            <td class="success">Listing Date: </td>
            <td class="success"> {{listingDate}}</td>
        </tr>
        <tr>
            <td class="success">Outstanding Share: </td>
            <td class="success">{{OutstandingShares}}</td>
        </tr>
        <tr>
            <td class="active">...</td>
            <td class="success">...</td>
        </tr>
        <tr>
            <td class="active">...</td>
            <td class="success">...</td>
        </tr>
    </table>

</div>
